{{#if this}}
<div class="account-container">
    <h2 class="account-welcome">Welcome {{ this.username }}!</h2>
    <a class="logout-btn" href="/auth/logout">LOG OUT</a>
</div>

<ul class="fav-plants-list">
    <h2>Your favorites plants:</h2>
        {{#if message}}
        <p class="error-msg-center">{{message}}</p>
        {{/if}}
    {{#each this.plantsList}}
    <div class="details-container">
        <div>
            <img class="account-image" src="{{this.image}}" alt="">
        </div>
        <div>
            <h3>{{this.name}}</h3>
            <p>Description: {{this.description}}</p>
            <h4>Sun: {{this.sun}}</h4>
            <h4>Water: {{this.water}}</h4>
            <h4>Price: {{this.price}}</h4>
        </div>
    </div>
    {{/each}}
</ul>

{{/if}}