<h2 class="all-plants-title">Details:</h2>

<div class="details-container">
    <div>
        <img class="details-image" src="{{this.image}}" alt="">
    </div>
    <div>
        <h3>{{this.name}}</h3>
        <p>Description: {{this.description}}</p>
        <h4>Sun: {{this.sun}}</h4>
        <h4>Water: {{this.water}}</h4>
        <h4>Price: {{this.price}}</h4>
        <div>
            <a class="add-btn" href="">Add to basket</a>
            <br>
            <br>
            <form action="/plants/{{this._id}}" method="POST">
                <button class="delete-and-edit-btn">Add to favourites list</button>
            </form>
        </div>
    </div>
</div>
<div class="admin-buttons">
    <form action="/plants/{{this._id}}/delete" method="POST">
        <button class="delete-and-edit-btn">Delete</button>
    </form>
    <form action="/plants/{{this._id}}/edit" method="POST">
        <button class="delete-and-edit-btn">Edit</button>
    </form>
</div>