<h2 class="all-plants-title">Edit details:</h2>
<div class="form-container">
    <div>
        <img class="plant-img" src="/images/plant2.png" alt="">
    </div>
    <div>
        <form class="form" action="/plants/{{this._id}}/edit" method="POST" enctype="multipart/form-data">
            <label>Name:
                <input type="text" name="name" value="{{this.name}}">
            </label>
            <label>Description:
                <input type="text" name="description" value="{{this.description}}">
            </label>
            <label>Sun:
                <input type="text" name="sun" value="{{this.sun}}">
            </label>
            <label>Water:
                <input type="text" name="water" value="{{this.water}}">
            </label>
            <label>Price:
                <input type="text" name="price" value="{{this.price}}">
            </label>
            <label>Image:
                <input type="file" name="image">
                <input type="text" name="existingImage" hidden value="{{this.image}}">
            </label>
            <button class="add-btn center-btn" type="submit">Edit plant</button>
        </form>
    </div>
</div>

