<h2 class="all-plants-title">Search result:</h2>
<div class="details-container">
    <div>
        <img class="plant-img" src="{{image}}" alt="" >
    </div>
    <div>
        <h3>{{this.name}}</h3>
        <p>Description: {{this.description}}</p>
        <h4>Sun: {{this.sun}}</h4>
        <h4>Water: {{this.water}}</h4>
        <h4>Price: {{this.price}}</h4>
    </div>
</div>
<div><a class="add-fav-btn" href="javascript:window.history.back();">Back to Search</a></div>

