<h2>Details:</h2>

<div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h3>{{this.name}}</h3>
        <p>Description: {{this.description}}</p>
        <h4>Sun: {{this.sun}}</h4>
        <h4>Water: {{this.water}}</h4>
        <h4>Price: {{this.price}}</h4>
        <div>
            <a href="">Add to basket</a>
            <a href="">Add to favourites list</a>
        </div>
    </div>
</div>
<div>
    <a href="">Delete</a>
    <a href="">Update</a>
</div>